{% extends "Shop/layouts/main.html" %}


{% block title %}
   ClockShop | Online shopping
{% endblock title %}


{% block content %}
<section class="bg-light py-4 my-5">
    <div class="container">
      <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{category__name}} products</h4>
                <hr style="border-color: rgb(105, 105, 105);">
                {% include 'Shop/inc/message.html' %}
            </div>

            {% for item  in product  %}

            <div class="col-md-4 col-lg-3"> 
                <a href="{% url 'product_details' item.category__name  item.name %}">
                <div class="card my-3">

                    {% if item.products_image %}
                            <img src="{{ item.products_image.url }}" class="card-img-top" alt="Categories" height="350px" width="100px">
                    {% endif %}
                            
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{ item.name }}</h5>
                                <p class="card-text">
                                    <span class="float-start old_price">
                                    <s> ₹ {{ item.original_price | stringformat:'d' }} </s>
                                    </span> 
                                    <span class="float-end new_price"> 
                                        ₹ {{ item.selling_price | stringformat:'d' }}
                                    </span>
                                 </p>
                  
                        </div>
               </div>
            </a> 
            </div> 
       
            {% endfor %}
            
        
        </div>
    </div>
</section>    
{% endblock content %}